footer {
    right: 0;
    left: 0;
    height: 2rem;
    padding: var(--m);
    background-color: var(--gray-color);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        font-size: var(--font-pp) !important;
        color: #FFFFFF;
    }
    a:hover {
        text-decoration: none;
    }
}
